@page "/"
@using Rakkyo.Data
@inject WeatherForecastService ForecastService

<header class="header form-inline">
    <input type="text" class="form-control" id="Search">
    <button id="searchButton" class="btn-push" style="vertical-align: middle">search</button>
</header>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div style="padding-top: 60px;">
        <table class="table">
            <thead>
                <tr>
                    <th style="width:50%">店名</th>
                    <th style="width:25%">評価</th>
                    <th style="width:25%"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">ジョーズ上海</a></td>
                    <td>5.0</td>
                    <td>
                        <ul class="menu">
                            <li>
                                <a id="editMenuLink1" href="#">…</a>
                                <ul id="editMenu1">
                                    <li><a href="#">子カテゴリ1</a></li>
                                    <li><a href="#">子カテゴリ2</a></li>
                                    <li><a href="#">子カテゴリ3</a></li>
                                    <li><a href="#">子カテゴリ4</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><a href="#">ジョーズ上海</a></td>
                    <td>5.0</td>
                    <td>
                        <ul class="menu">
                            <li>
                                <a id="editMenuLink2" href="#">…</a>
                                <ul id="editMenu2">
                                    <li><a href="#">子カテゴリ1</a></li>
                                    <li><a href="#">子カテゴリ2</a></li>
                                    <li><a href="#">子カテゴリ3</a></li>
                                    <li><a href="#">子カテゴリ4</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}

