@page "/"
@using Rakkyo.Data
@inject WeatherForecastService ForecastService

<header class="header form-inline">
    <input type="text" class="form-control" id="Search">
    <button class="btn-push" style="vertical-align: middle">search</button>
</header>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div style="padding-top: 60px;">
    <table class="table" >
        <thead>
            <tr>
                <th>店名</th>
                <th>評価</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                </tr>
            }
        </tbody>
    </table>
</div>
}

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}

