@page "/"
@using Rakkyo.Data

<header class="header form-inline">
    <input type="text" class="form-control" id="Search" @bind="searchValue" style="width:500px">
    <a href="" class="btn-flat-border" @onclick="SearchShop"><i class="material-icons">search</i></a>
</header>

<div style="padding-top: 60px;">
    <table class="table">
        <thead>
            <tr>
                <th style="width:50%">店名</th>
                <th style="width:40%">評価</th>
                <th style="width:5%"></th>
                <th style="width:5%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var shop in shopList)
            {
                <tr>
                    <td><a href="">@shop.ShopName</a></td>
                    <td>@shop.ComprehensiveEvaluation</td>
                    <td><a href=""><i class="material-icons">create</i></a></td>
                    <td><a href=""><i class="material-icons">delete_sweep</i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private List<Shop> shopList;
    private string searchValue;

    protected override async Task OnInitializedAsync()
    {
        var rakkyoCore = new RakkyoCore();
        shopList = await rakkyoCore.GetShopList();
    }

    private async Task SearchShop()
    {
        var rakkyoCore = new RakkyoCore();
        shopList = await rakkyoCore.GetShopList();
        shopList = shopList.Where(x => x.ShopName.Contains(searchValue)).ToList();
    }
}

